---
http_interactions:
- request:
    method: get
    uri: "[host]/sapi/v1/capital/deposit/subAddress?coin=BTC&email=[sub_account_email]&recvWindow=60000&signature=9f13b8274abc9d73115443501168db74a01c49e8424d3613f890b8e218850e92&timestamp=1640668070176"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - "[api_key]"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sapi-Used-Ip-Weight-1m:
      - '1'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: ASCII-8BIT
      string: '{"coin":"BTC","address":"1C1Gfnfrxgyv5QsSPxoZMpfybBjbXsvPRA","tag":"","url":"https://blockchair.com/bitcoin/address/1C1Gfnfrxgyv5QsSPxoZMpfybBjbXsvPRA"}'
  recorded_at: Tue, 28 Dec 2021 05:07:50 GMT
recorded_with: VCR 6.0.0
