---
http_interactions:
- request:
    method: get
    uri: "[host]/sapi/v1/capital/deposit/subAddress?coin=BTC&email=[sub_account_email]&network=BNB&recvWindow=60000&signature=f5735ed0cb3a2056df616490bfd42a7144fac8607fe822b68456733b80dc637e&timestamp=1646627132960"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - "[api_key]"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sapi-Used-Ip-Weight-1m:
      - '1'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: ASCII-8BIT
      string: '{"coin":"BTC","address":"bnb136ns6lfw4zs5hg4n85vdthaad7hq5m4gtkgf23","tag":"100159781","url":"https://explorer.binance.org/address/bnb136ns6lfw4zs5hg4n85vdthaad7hq5m4gtkgf23"}'
  recorded_at: Mon, 07 Mar 2022 04:25:33 GMT
recorded_with: VCR 6.0.0
