---
http_interactions:
- request:
    method: get
    uri: "[host]/sapi/v1/capital/deposit/subAddress?coin=BTC&email=[sub_account_email]&signature=d1418b0469b530642ffdb59a75af222240281d5a95f05d057fcaf4240de73bd9&timestamp=1638257533344"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - "[api_key]"
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Sapi-Used-Ip-Weight-1m:
      - '1'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: ASCII-8BIT
      string: '{"coin":"BTC","address":"1C1Gfnfrxgyv5QsSPxoZMpfybBjbXsvPRA","tag":"","url":"https://blockchair.com/bitcoin/address/1C1Gfnfrxgyv5QsSPxoZMpfybBjbXsvPRA"}'
  recorded_at: Tue, 30 Nov 2021 07:32:13 GMT
recorded_with: VCR 6.0.0
